<div class="in-game-container">
  <!-- Top section for battle visuals, etc. -->
  <!-- <div class="retro-box battle-scene"> -->
  <div class="players-grid" [class.locked]="false">
    @for (player of players(); track player.id) {
    <app-player-tile [player]="player" [isUser]="isUser(player.id)" [selectableFn]="getSelector()"
      (pokemonSelect)="onPokemonSelect($event)">
    </app-player-tile>
    }
  </div>
  <!-- </div> -->

  <!-- Bottom panel with retro style UI -->
  <div class="bottom-panel">
    <!-- Action Menu (Left) -->


    <button class="retro-btn action-btn main-action" (click)="executeContextAction()"
      [disabled]="!(contextButtonDescriptor()?.action)">
      {{ contextButtonDescriptor()?.label ?? 'Ready' }}
    </button>




    <!-- Dialogue Box (Right) -->
    <div class="dialogue-section">
      @let s = state();

      @if(s.type == 'mov-selection'){
      <div class="retro-box attacks-box">
        <div class="attacks-grid">
          @for (mov of player().pokemons[s.selected].movs.entries(); track mov[1]){
          <button class="retro-btn mov-btn" (click)="onMovSelect(mov[0])">
            <span class="attack-name">{{ mov[1].key }}</span>

          </button>
          }
        </div>
      </div>
      }
      @else{
      <app-dialogue [sequence]="dialogueText()"></app-dialogue>
      }
    </div>
  </div>
  <div class="retro-box">{{ randomMessage() }}</div>
</div>