:root {
  /* Retro Pokemon Color Palette */
  --pkmn-black: #111;
  --pkmn-red: #ff0000;
  --pkmn-dark-red: #cc0000;
  --pkmn-blue: #0000ff;
  --pkmn-green: #00ff00;
  --pkmn-yellow: #ffde00;
  --pkmn-gold: #b3a125;
  --pkmn-gb-light: #e0f8d0;
  --pkmn-gb-mid1: #88c070;
  --pkmn-gb-mid2: #346856;
  --pkmn-gb-dark: #081820;
  --pkmn-red-bg: #ffd9d9;

  --bg-color: var(--pkmn-red-bg);
  --text-main: #222;
  --border-main: #222;

  --font-retro: 'Press Start 2P', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-retro);
  background-color: var(--bg-color);
  color: var(--text-main);
  /* To give the pixel art feel, disable anti-aliasing */
  -webkit-font-smoothing: none;
  font-smooth: never;
}

/* Common Retro UI Box (Like dialog boxes in Pokemon) */
.retro-box {
  background-color: white;
  border: 4px solid var(--border-main);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
}

/* Common Retro Button */
.retro-btn {
  font-family: var(--font-retro);
  background-color: white;
  color: var(--text-main);
  border: 4px solid var(--border-main);
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s, box-shadow 0.1s;
  text-transform: uppercase;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, cursor 0.3s ease;
}

.retro-btn:disabled {
  background-color: #CCC;
  cursor: not-allowed;
}

.retro-btn:hover {
  background-color: #f0f0f0;
}

.retro-btn:active {
  transform: translate(4px, 4px);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.retro-input {
  font-family: inherit;
  padding: 12px;
  border: 4px solid var(--border-main);
  border-radius: 4px;
  font-size: 14px;
  background-color: white;
  color: var(--text-main);
  box-shadow: inset 4px 4px 0px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease, border-color 0.3s ease, cursor 0.3s ease;
}

.retro-input:disabled {
  background-color: #e0e0e0;
  color: #888;
  cursor: not-allowed;
}

.retro-input:focus {
  outline: none;
  border-color: var(--pkmn-red);
}

.save-btn {
  background-color: var(--pkmn-gb-mid2);
  color: white;
  width: 216px;
}

.save-btn:hover:not(:disabled) {
  background-color: var(--pkmn-gb-mid1);
}

.save-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.save-btn.success:disabled {
  opacity: 1;
  color: #a5d6a7;
}


/* Form Base */
/* Form basics */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.retro-label {
  font-family: var(--font-retro);
  font-size: 10px;
  color: var(--pkmn-gb-dark);
  letter-spacing: 1px;
}

.retro-input {
  font-family: var(--font-retro);
  background-color: white;
  border: 4px solid var(--border-main);
  padding: 13px 15px;
  font-size: 12px;
  border-radius: 4px;
  color: var(--text-main);
  outline: none;
  transition: border-color 0.15s, background-color 0.15s;
  box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.08);
}

.retro-input:focus {
  border-color: var(--pkmn-blue);
  background-color: #f0f4ff;
}

.retro-input:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.validation-message {
  font-family: var(--font-retro);
  font-size: 9px;
  color: #df4444;
  /* Retro red */
  margin: 2px;
  min-height: 11px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.validation-message.show {
  opacity: 1;
}

.section {
  padding: 24px;
  gap: 8px;
  height: 100%;
  background-color: var(--pkmn-gb-light);
  border: 4px solid var(--border-main);
  border-radius: 8px;
  box-shadow: inset 4px 4px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}