<div class="retro-box match-lobby">
    <div class="browser-header">
        <h2>Lobby: {{ currentMatch.name }}</h2>
        <div class="header-actions">
            <button class="retro-btn leave-btn" (click)="leaveMatch()">Leave Room</button>
        </div>
    </div>

    <div class="lobby-content">
        <div class="players-list">
            <h3>Players ({{ Object.keys(currentMatch.readys).length }}/2)</h3>
            <ul class="retro-list">
                @for (player of Object.keys(currentMatch.readys); track player) {
                <li>
                    <div class="avatar-ph"></div>
                    <span class="player-name">
                        {{ player }} {{ player === currentMatch.hostId ? '(Host)' : '' }}
                        @if (currentMatch.readys[player]) {
                        <span style="color: lightgreen; margin-left: 10px;">[READY]</span>
                        }
                    </span>
                </li>
                } @empty {
                <li class="empty-slot">Buscando jugadores...</li>
                }
            </ul>
        </div>

        <div class="lobby-settings">
            <h3>Match Settings</h3>
            <p><strong>Format:</strong> 1v1 Singles</p>

            <div class="lobby-actions">
                <button class="retro-btn refresh-btn" (click)="toggleReady()">
                    {{ currentMatch.readys[currentUser] ? 'Cancel Ready' : 'Set Ready' }}
                </button>

                @if (currentMatch.hostId === currentUser) {
                <button class="retro-btn start-match-btn" [disabled]="Object.keys(currentMatch.readys).length < 2"
                    (click)="startMatch()">
                    Start Match
                </button>
                }
            </div>
        </div>
    </div>
</div>