<div class="pokemon-entry" [class.selectable]="selectionMode !== 'none'">
  @if (pokemon) {
  <div class="pokemon-content">
    <div class="pokemon-avatar">
      <img [src]="sprite" [alt]="name" />
    </div>
    <div class="pokemon-details">
      <div class="pokemon-name-row">
        <span class="pokemon-name" [class.damageable]="selectionMode === 'damageable'">{{ name }}</span>
      </div>
      <app-life-bar [hp]="pokemon.hp" [maxHp]="pokemon.stats.hp"></app-life-bar>

    </div>
  </div>
  }
</div>