<div class="retro-box player-tile" [class.is-turn]="isUser">
  <div class="player-header">
    <div class="player-avatar">
      <!-- Fallback pixelated avatar if none provided -->
      <!-- @if (avatarUrl) {
      <img [src]="player.avatarUrl" alt="{{ player.name }}">
      } @else { -->
      <div class="avatar-placeholder">👤</div>
      <!-- } -->
    </div>
    <div class="player-info">
      <!-- <span class="player-name">{{ player.name }}</span> -->
      <div class="pokeballs-container">
        <!--
        
        @for (state of getFullPokeStates(player.pokeStates); track $index) {
          <div class="pokeball" [ngClass]="state"></div>
        } -->
      </div>
    </div>
  </div>

  <div class="pokemon-team">
    @for (pokemon of player.actives.entries(); track pokemon[1]) {

    <app-pokemon-chip [pokemon]="pokemon[1]"
      [selectionMode]="selectableFn({playerId: player.id, pokemonIdx:  pokemon[0]})"
      (click)="pokemonSelect.emit({playerId: player.id, pokemonIdx: pokemon[0]})">
    </app-pokemon-chip>

    }
  </div>
</div>