.home-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 20px;
    gap: 20px;
    background-color: var(--pkmn-red-bg);
}

.main-content {
    width: 100%;
    display: block;
    max-width: 1080px;
    margin: 0 auto;
    background-color: white;
    flex: 1;
}