.home-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--pkmn-red-bg);
}


.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.arena-layout {
  width: 100%;
  max-width: 1080px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}


.dialogue-area {
  height: 150px;
  width: 100%;
}