<app-content-header [title]="'Historial de Partidas'"></app-content-header>
<div class="content">
    @if (loading()) {
    <div class="message-container retro-box">
        Cargando el historial de partidas...
    </div>
    } @else {
    @for (game of games(); track game.id) {
    @let resultLabel = game.result === 'win' ? 'Victoria' : game.result === 'loss' ? 'Derrota' : 'Empate';
    <div class="game-item retro-box">
        <div class="game-info">
            <div class="opponent">{{ game.message }}</div>
            <div class="result" [class.win]="game.result === 'win'" [class.loss]="game.result === 'loss'"
                [class.draw]="game.result === 'draw'">
                {{ resultLabel }}
            </div>
            <div class="date">{{ game.date | date:'short' }}</div>
        </div>
        <div class="pokemons-used">
            @for (pokemon of game.pokemonUsed; track $index) {
            <span>{{ pokemon }}</span>
            }
        </div>
    </div>
    } @empty {
    <div class="message-container retro-box">
        No has jugado ninguna partida aún. ¡Juega una para empezar tu historial!
    </div>
    }

    }
</div>