<app-content-header [title]="displayName">
    @if (player != null){
    <button class="retro-btn" (click)="toggleReady()">
        {{ player.isReady ? 'Cancel Ready' : 'Set Ready' }}
    </button>
    } @else {
    <button class="retro-btn start-match-btn" [disabled]="!canStartMatch()" (click)="startGame()">
        Start Match
    </button>
    }
    <button class="retro-btn" (click)="leaveLobby()" title="Leave Room">X</button>
</app-content-header>
<div class="lobby-content">
    <div class="players-list">
        <h3>Players ({{ currentLobby.joiners.size + 1 }}/{{ currentLobby.maxPlayers }})</h3>
        <ul class="retro-list">
            <li>
                <div class="player-state host"></div>
                <span class="player-name">
                    {{ currentLobby.host.nickname }} <span>[HOST]</span>
                </span>
            </li>
            @for (entry of currentLobby.joiners.entries(); track entry[0]) {
            <li>
                <div class="player-state" [class.ready]="entry[1].isReady" [class.not-ready]="!entry[1].isReady"></div>
                <span class="player-name">
                    {{ entry[1].nickname }}
                    @if (entry[1].isReady) {
                    <span>[READY]</span>
                    }
                </span>
                <!-- Kick button only visible if the current user is the host (player == null) -->
                @if (player == null) {
                <button class="retro-btn action-btn kick-btn" (click)="kick(entry[0])" title="Kick Player">
                    Kick
                </button>
                }
            </li>
            }
        </ul>
    </div>
</div>