@if (currentView === 'browser') {
<app-game-browser [matches]="matches" [currentUser]="currentUser" (onCreateMatch)="openCreateModal()"
  (onJoinMatch)="joinMatch($event.matchId, $event.match)">
</app-game-browser>
} @else if (currentView === 'create') {
<app-create-match (onCancel)="closeCreateModal()" (onCreateMatch)="createMatch($event)">
</app-create-match>
} @else if (currentView === 'lobby' && currentMatch) {
<app-match-lobby [currentMatch]="currentMatch" [currentUser]="currentUser" (onLeaveMatch)="leaveMatch()"
  (onToggleReady)="toggleReady()" (onStartMatch)="startMatch()">
</app-match-lobby>
}