<div class="retro-box lobby-box">@if (auth.auth) {
  @if (currLobby.lobby$ | async; as lobby) {
  <app-in-lobby />
  } @else if (!inCreateLobbyMenu) {
  <app-lobbies-browser [lobbies]="(lobbies.lobbies$ | async)!" [currentUser]="auth.auth!.user.nickname"
    (onCreateLobby)="openCreateMenu()" (onJoinLobby)="joinLobby($event.lobbyId, $event.lobby)">
  </app-lobbies-browser>
  } @else {
  <app-create-lobby [userName]="auth.auth!.user.nickname" [initialName]="savedLobbyName"
    (onCancel)="closeCreateMenu($event)" (onCreateLobby)="createLobby($event)">
  </app-create-lobby>
  }
  } @else {
  <div class="loading-container">
    Loading arena...
  </div>
  }
</div>