.content {
  display: grid;
  grid-template-columns: 300px 1fr;
  flex-grow: 1;
  gap: 10px;
}

@media (max-width: 900px) {
  .content {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

.credentials-section {
  align-items: center;
}

/* Responsive adjustments */
@media (max-width: 900px) {

  .avatar-circle {
    width: 120px !important;
    height: 120px !important;
  }

  .avatar-initial {
    font-size: 48px !important;
  }

}

/* Avatar preview */
.avatar-container {
  width: 150px;
  height: 150px;
}


.credential-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

@media (max-width: 900px) {
  .credential-actions {
    flex-direction: row;
  }

}